*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 1rem;
  background: rgb(57, 158, 150);
}

.btn-primary{
  font-size: 1.5rem;
}

.btn-danger{
  background: rgb(165, 111, 111);
  color: #000;
}

.btn-outline-secondary, .todo{
  background: #fff;
}